<form action='/news-comments?idNews={{idNews}}' method='post' enctype='multipart/form-data'>
  <div>
    <label>
      Комментарий
      <input type='text' name='comment'>
    </label>
  </div>
  <div>
    <label>
      Аватар автора
      <input type='file' name='avatar'>
    </label>
  </div>
  <button type='submit'>Отправить</button>
</form>