<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h2>Аутентификация</h2>
<div>
  <label for="email" class="form-label">Email address</label>
  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" value="test@test.com">
</div>
<div>
  <label for="password" class="form-label">Password</label>
  <input type="password" class="form-control" id="password" value="12345">
</div>
<button id="button-auth" type="submit" class="btn btn-primary">Сохранить auth_token</button>
<div>
  <label for="token" class="form-label">access_token</label>
  <input type="text" class="form-control" id="token">
</div>
<h3>Доступ по токену</h3>
<a href="/users/4/edit" class="btn btn-outline-primary">Редактирование профиля</a>
<script>

  const username = document.querySelector('#email').value
  const password = document.querySelector('#password').value

  document.querySelector('#button-auth')
  .addEventListener('click', event => {
    return fetch('/auth/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({username, password})
    })
    .then(response => response.json())
    .then(json => {
      return json.access_token
    })
    .then(token => {
      window.localStorage.setItem('nest_access_token', token)
      document.querySelector('#token').value = token
    })
  })

</script>
</body>
</html>
